<?xml version="1.0" encoding="ISO-8859-1"?>
<module xmlns="link:xsd:dpml/lang/dpml-module#1.0" name="tooling">
  
  <dependencies>
    <build>
      <include ref="dpml"/>
    </build>
  </dependencies>

    <project name="simple" basedir="simple"/>

    <project name="properties" basedir="properties">
      <properties>
        <property name="message" value="Hello"/>
      </properties>
    </project>
    
    <project name="symbolic-properties" basedir="symbolic">
      <properties>
        <property name="message" value="Hello for ${user.name}"/>
      </properties>
    </project>
    
    <project name="filters" basedir="filters">
      <properties>
        <property name="message" value="Hello for ${user.name}"/>
      </properties>
      <filters>
        <filter token="MESSAGE" value="${message} from ${user.name}."/>
      </filters>
    </project>
    
  <project name="alias-demo" basedir="alias">
    <properties>
      <property name="location" value="New York"/>
      <property name="message" value="Hello from ${user.name} in ${location}"/>
    </properties>
    <types>
      <type id="jar" alias="true"/>
    </types>
    <filters>
      <filter token="MESSAGE" value="${message}"/>
    </filters>
  </project>
    
  <project name="automation-demo" basedir="automation">
    <properties>
      <property name="location" value="New York"/>
      <property name="message" value="Hello from ${user.name} in ${location}"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <filters>
      <filter token="MESSAGE" value="${message}"/>
    </filters>
  </project>
    
  <project name="imports-demo" basedir="imports">
    <properties>
      <property name="location" value="New York"/>
      <property name="message" value="Hello from ${user.name} in ${location}"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <test>
        <include ref="ant/ant-junit"/>
        <include ref="dpml/transit/dpml-transit-main"/>
      </test>
    </dependencies>
    <filters>
      <filter token="MESSAGE" value="${message}"/>
    </filters>
  </project>

  <project name="types-demo" basedir="types">
    <properties>
      <property name="location" value="New York"/>
      <property name="message" value="Hello from ${user.name} in ${location}"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <filters>
      <filter token="MESSAGE" value="${message}"/>
    </filters>
  </project>

  <project name="unit-demo" basedir="unit">
    <properties>
      <property name="location" value="New York"/>
      <property name="message" value="Hello from ${user.name} in ${location}"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <test>
        <include uri="artifact:jar:ant/ant-junit#1.6.5"/>
        <include uri="artifact:jar:ant/ant#1.6.5"/>
        <include uri="artifact:jar:junit/junit#3.8.1"/>
      </test>
    </dependencies>
    <filters>
      <filter token="MESSAGE" value="${message}"/>
    </filters>
  </project>

</module>
