<?xml version="1.0" encoding="ISO-8859-1"?>
<module xmlns="link:xsd:dpml/lang/dpml-module#1.0" name="tooling">

  <dependencies>
    <build>
      <include ref="dpml"/>
    </build>
  </dependencies>
  
  <module name="simple" basedir="simple">
  
    <project name="simple-build" basedir="build"/>

    <project name="simple-properties" basedir="properties">
      <properties>
        <property name="message" value="Hello"/>
      </properties>
    </project>
    

    <project name="simple-symbolic-properties" basedir="symbolic">
      <properties>
        <property name="message" value="Hello for ${user.name}"/>
      </properties>
    </project>
    
    <project name="simple-filters" basedir="filters">
      <properties>
        <property name="message" value="Hello for ${user.name}"/>
      </properties>
      <filters>
        <filter token="MESSAGE" value="${message} from ${user.name}."/>
      </filters>
    </project>
    
  </module>
  
</module>