
RedirectMatch ^/magic/* http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/transit/latest/* http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/metro/latest/* http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/depot/latest/* http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/depot/index.html http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/transit/index.html http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/metro/index.html http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/central/products/metro/index.html http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/central/* http://www.dpml.net/index.html
RedirectMatch ^/transit/overview.html http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/about/setup(.*) http://www.dpml.net/about/download/index.html
RedirectMatch ^/index.html http://www.dpml.net/about/index.html
RedirectMatch ^/index.htm http://www.dpml.net/about/index.html
RedirectMatch ^/metro/station/cli(.*) http://www.dpml.net/station/cli
RedirectMatch ^/milestones/* http://download.dpml.net/milestones/index.html
RedirectMatch ^/dpml/1.0.0-1692/* http://api.dpml.net/dpml/1.0.0/index.html
RedirectMatch ^/dpml/1.0.0-RC* http://api.dpml.net/dpml/1.0.0/index.html
RedirectMatch ^/reports/1.0.0-RC* http://api.dpml.net/reports/1.0.0/index.html
RedirectMatch ^/reports/2005* http://api.dpml.net/reports/1.0.0/index.html
RedirectMatch ^/reports/2006* http://api.dpml.net/reports/1.0.0/index.html
