<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="web">

  <types>
    <type id="module" alias="true"/>
  </types>

  <project name="dpml-web-server" basedir="server">
    <types>
      <type id="jar"/>
      <type id="part"/>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api"/>
      <include urn="artifact:jar:jetty/servlet-api-2.5#20060131"/>
      <include urn="artifact:jar:tomcat/jasper-runtime#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler-jdt#5.5.12"/>
      <include urn="artifact:jar:jetty/jetty#6.0.0-20060131"/>
      <include urn="artifact:jar:org/slf4j/jcl104-over-slf4j#1.0-rc5"/>
      <include urn="artifact:jar:org/slf4j/slf4j-jdk14#1.0-rc5"/>
      <include urn="artifact:jar:commons-el/commons-el#1.0"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
  </project>

  <project name="dpml-http-test" basedir="test">
    <types>
      <type id="jar"/>
      <type id="war"/>
    </types>
    <properties>
      <property name="project.test.fork" value="true"/>
    </properties>
    <dependencies>
      <include urn="artifact:jar:servletapi/servletapi#2.4" tag="public"/>
      <include urn="artifact:jar:jetty/jetty#6.0.0-20060131"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="dpml/metro/dpml-part-api"/>
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

</module>
