<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="web">

  <types>
    <type id="module" alias="true"/>
  </types>

  <project name="dpml-http-server" basedir="server">
    <types>
      <type id="jar"/>
      <type id="part"/>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api"/>
      <include urn="artifact:jar:servletapi/servletapi#2.4" tag="public"/>
      <include urn="artifact:jar:jetty/jetty#6.0.0-20060131"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
  </project>

</module>
