
RedirectMatch ^/about/community/* http://www.dpml.net/about/index.html
RedirectMatch ^/magic/* http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/transit/latest/* http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/metro/latest/* http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/depot/latest/* http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/depot/index.html http://www.dpml.net/depot/concepts/index.html
RedirectMatch ^/transit/index.html http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/metro/index.html http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/central/products/metro/index.html http://www.dpml.net/metro/concepts/index.html
RedirectMatch ^/central/* http://www.dpml.net/index.html
RedirectMatch ^/transit/overview.html http://www.dpml.net/transit/concepts/index.html
RedirectMatch ^/about/setup(.*) http://www.dpml.net/about/download/index.html
RedirectMatch ^/index.html http://www.dpml.net/about/index.html
RedirectMatch ^/index.htm http://www.dpml.net/about/index.html
RedirectMatch ^/metro/station/* http://www.dpml.net/station/index.html
RedirectMatch ^/milestones/* http://download.dpml.net/milestones/index.html
RedirectMatch ^/dpml/1.0.0-1692/* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/dpml/1.0.0-RC* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/dpml/2005* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/dpml/2006* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/reports/1.0.0-RC* http://www.dpml.net/about/reports/index.html
RedirectMatch ^/reports/2005* http://www.dpml.net/about/reports/index.html
RedirectMatch ^/reports/2006* http://www.dpml.net/about/reports/index.html
RedirectMatch ^/reports/SNAPSHOT* http://www.dpml.net/about/reports/index.html
RedirectMatch ^/api/dpml/metro/* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/transit/* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/magic/* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/depot/* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/2006* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/2005* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/SNAPSHOT* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/dpml/1.0.0-RC* http://api.dpml.net/dpml/@VERSION@/index.html
RedirectMatch ^/api/checkstyle/index.html http://api.dpml.net/checkstyle/4.1/index.html