<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2004-2005 Stephen J McConnell
  Copyright 2004 Niclas Hedhman

  Licensed  under the  Apache License,  Version 2.0  (the "License");
  you may not use  this file  except in  compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed  under the  License is distributed on an "AS IS" BASIS,
  WITHOUT  WARRANTIES OR CONDITIONS  OF ANY KIND, either  express  or
  implied.

  See the License for the specific language governing permissions and
  limitations under the License.
-->


<project name="dpml-magic" default="install" basedir="."
    xmlns:transit="antlib:net.dpml.transit" xmlns:x="plugin:dpml/magic/dpml-magic-core" >

  <transit:import uri="local:template:magic/standard"/>

  <target name="init" depends="standard.init">
    <property name="dpml.transit.version" value="${project.version}"/>
    <filter token="TRANSIT-MODULE-VERSION" value="${dpml.transit.version}"/>
    <filter token="PROJECT-NAME" value="${project.name}"/>
    <filter token="PROJECT-VERSION" value="${project.version}"/>
    <property name="bundle" value="${basedir}/target/bundle"/>
  </target>

  <target name="build" depends="standard.build">
    <x:module index="index.xml">
      <header>
        <packages>
          <package name="net.dpml.magic"/>
          <package name="net.dpml.magic.*"/>
        </packages>
        <svn href="svn://svn.berlios.de/dpml/trunk/main/magic"/>
        <home href="http://www.dpml.net/magic"/>
      </header>
    </x:module>
  </target>

  <target name="package" depends="build,javadoc">

    <!-- create LICENSE files-->
    <copy todir="${bundle}" filtering="true">
      <fileset dir="${basedir}">
        <include name="MAGIC_LICENSE.TXT"/>
        <include name="MAGIC_NOTICE.TXT"/>
        <include name="MAGIC_README.TXT"/>
      </fileset>
    </copy>

    <!-- create the prefs -->
    <property name="prefs" value="${bundle}/prefs"/>
    <mkdir dir="${prefs}/magic"/>
    <copy toFile="${prefs}/magic/magic.properties" file="${basedir}/template.magic.properties"/>

    <!-- create the local repository -->
    <property name="share" value="${bundle}/share"/>
    <property name="local" value="${share}/local"/>

    <x:replicate toDir="${local}" verbose="true"/>

    <copy todir="${prefs}/magic">
      <fileset dir="spells/doc/target">
        <include name="themes/**"/>
      </fileset>
      <fileset dir="core/target">
        <include name="templates/**"/>
      </fileset>
      <fileset dir="spells/eclipse/target">
        <include name="eclipses/**"/>
        <include name="templates/**"/>
      </fileset>
      <fileset dir="spells/upload/target">
        <include name="templates/**"/>
      </fileset>
      <fileset dir="spells/checkstyle/target">
        <include name="formats/**"/>
        <include name="xsls/**"/>
      </fileset>
    </copy>

    <!--
    Add the javadoc to the dist.
    -->
    <property name="docs.src" location="${basedir}/target/api"/>
    <property name="docs.dest" location="${share}/docs/api/${project.group}/${project.version}"/>
    <mkdir dir="${docs.dest}"/>
    <copy todir="${docs.dest}">
      <fileset dir="${docs.src}"/>
    </copy>

    <!-- zip up a copy of the platform independent bundle for use by depot -->

    <x:property name="magic.plugin.uri" key="dpml-magic-core" feature="uri" type="plugin"/>
    <echo file="${bundle}/BUNDLE">
dpml.depot.installer.class = net.dpml.magic.MagicInstaller
dpml.depot.installer.uri = ${magic.plugin.uri}
    </echo>

    <property name="zip.filename" 
      value="${basedir}/target/deliverables/zips/${project.name}-${project.version}.zip"/>
    <mkdir dir="target/deliverables/zips"/>
    <zip destfile="${zip.filename}" whenempty="create">
      <zipfileset dir="${bundle}">
        <include name="**/*"/>
      </zipfileset>
    </zip>

  </target>

  <target name="install" depends="standard.install,junit-report">
    <echo>
#----------------------------------------------------------------------------------
# Updating DPML PREFS ${dpml.prefs}
#----------------------------------------------------------------------------------
    </echo>
    <copy todir="${dpml.prefs}">
      <fileset dir="${prefs}">
        <include name="magic/**"/>
      </fileset>
    </copy>
    <echo>
#----------------------------------------------------------------------------------
# Updating DPML DATA installation. ${dpml.data}/docs
#----------------------------------------------------------------------------------
    </echo>
    <mkdir dir="${dpml.data}"/>
    <copy todir="${dpml.data}" preservelastmodified="true">
      <fileset dir="${bundle}">
        <include name="docs/**"/>
      </fileset>
    </copy>
  </target>

  <target name="javadoc" depends="build">
    <x:javadoc>
      <link href="http://java.sun.com/j2se/1.4/docs/api"/>
      <link href="http://www.dpml.net/api/ant/${dpml.ant.version}"/>
      <link href="http://www.dpml.net/api/checkstyle/3.5"/>
      <group title="Magic Bootstrap">
        <package name="net.dpml.magic.bootstrap"/>
      </group>
      <group title="Magic Core">
        <package name="net.dpml.magic"/>
        <package name="net.dpml.magic.builder"/>
        <package name="net.dpml.magic.model"/>
        <package name="net.dpml.magic.project"/>
        <package name="net.dpml.magic.tasks"/>
      </group>
      <group title="Magic Spells">
        <package name="net.dpml.magic.doc"/>
        <package name="net.dpml.magic.publish"/>
        <package name="net.dpml.magic.upload"/>
        <package name="net.dpml.magic.checkstyle"/>
        <package name="net.dpml.magic.eclipse"/>
      </group>
    </x:javadoc>
  </target>

  <target name="junit-report" depends="test">
    <mkdir dir="target/reports/junit"/>
    <junitreport todir="target/reports/junit">
      <fileset dir=".">
        <include name="**/target/test-reports/TEST-*.xml"/>
      </fileset>
      <report format="frames" todir="target/reports/junit"/>
    </junitreport>
  </target>

  <target name="checkstyle" depends="prepare" unless="project.checkstyle.disable">
    <x:property name="spec" feature="uri" type="plugin" key="dpml-magic-checkstyle"/>
    <transit:plugin uri="${spec}">
      <task class="net.dpml.magic.checkstyle.CheckstyleTask" name="checkstyle"/>
    </transit:plugin>
    <checkstyle>
      <formatter type="xml" toFile="target/checkstyle.xml"/>
    </checkstyle>
    <property name="project.checkstyle.reports" value="target/reports/checkstyle"/>
    <mkdir dir="${project.checkstyle.reports}"/>
    <style style="${dpml.prefs}/magic/xsls/checkstyle-frames.xsl"
        in="target/checkstyle.xml"
        out="${project.checkstyle.reports}/checkstyle_report.html" />
  </target>

</project>
