<?xml version="1.0" encoding="UTF-8"?>
<cruisecontrol>
  <project name="dpml-setup">

    <bootstrappers>
      <currentbuildstatusbootstrapper file="logs/currentbuild.txt"/>
      <!--svnbootstrapper file="checkout/dpml-main/development/main/build.xml"/-->
    </bootstrappers>


    <modificationset quietperiod="10">
      <svn LocalWorkingCopy="checkout/dpml-main/development/main"/>
      <!--svn RepositoryLocation="http://scm.dpml.net/repos/dpml/development/main"/-->
    </modificationset>

    <schedule interval="10">
      <ant
        antscript="ant"
	buildfile="checkout/dpml-main/development/main/build.xml"
	target="clean transit"
	uselogger="true"
	multiple="1"
	usedebug="false"/>
    </schedule>
    <log>
      <merge
      dir="checkout/dpml-main/development/main/home/transit/handler/target/test-reports"/>
    </log>
    <publishers>
      <!--htmlemail mailhost="localhost" subjectprefix="[CC][dpml-setup]"
      returnaddress="info@dpml.net" defaultsuffix="dmpl.net" spamwhilebroken="false"
      css="/usr/local/cruisecontrol/reporting/jsp/css/cruisecontrol.css"
      xsldir="/usr/local/cruisecontrol/reporting/jsp/xsl" skipusers="true">
      	<always address="notify-dpml@lists.ibiblio.org"/>
      </htmlemail-->
    </publishers>

	<dateformat format="yyyy-MM-dd HH:mm:ss" />
  </project>
  <!--project name="dpml-main">

    <bootstrappers>
      <svnbootstrapper localWorkingCopy="checkout/dpml-main/development/main"/>
    </bootstrappers>


    <modificationset quietperiod="300">
      <svn localWorkingCopy="checkout/dpml-main/development/main"/>
    </modificationset>

    <schedule interval="300">
      <ant
        antscript="/usr/local/ant/bin/ant"
	buildfile="checkout/dpml-main/development/main/build.xml"
	target="clean install"
	uselogger="true"
	multiple="1"
	usedebug="false"/>
    </schedule>
    <log>
      <merge dir="checkout/dpml-main/development/main/transit/handler/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/magic/core/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/composition/impl/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/composition/test/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/magic/spells/example/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/central/tutorials/hello/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/transit/tutorials/artifact/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/system/test/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/planet/facilities/finder/impl/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/logging/providers/logkit/test/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/logging/providers/log4j/test/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/planet/facilities/db/hsql/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/transit/tutorials/extension/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/activation/test/target/test-reports"/>
      <merge dir="checkout/dpml-main/development/main/metro/activation/test/target/test-reports"/>
    </log>
    <publishers>
      <htmlemail mailhost="localhost" subjectprefix="[CC][dpml-main]" returnaddress="info@dpml.net" defaultsuffix="dmpl.net" spamwhilebroken="false" css="/usr/local/cruisecontrol/reporting/jsp/css/cruisecontrol.css" xsldir="/usr/local/cruisecontrol/reporting/jsp/xsl" skipusers="true">
      	<always address="notify-dpml@lists.ibiblio.org"/>
      </htmlemail>
    </publishers>

	<dateformat format="yyyy-MM-dd HH:mm:ss" />
  </project-->
</cruisecontrol>
