<?xml version="1.0" encoding="UTF-8"?>
<document>

  <properties>
    <author email="mcconnell@dpml.net">Stephen McConnell</author>
    <title>DPML Depot Plugin Processor</title>
  </properties>

  <body>
    <section name="Plugin Processor">

      <p>
      The plugin processor is a build listener than handles the production of
      a Transit plugin descriptor.
      </p>

      <table>
        <tr>
          <th>Phase</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>build</td>
          <td>
            Create a plugin descriptor using runtime dependencies declared on 
            the current project definition. The produced plugin is created 
            under the <tt>${basedir}/target/deliverables/plugins</tt> directory.
          </td>
        </tr>
      </table>

      <subsection name="Sample plugin descriptor">

<pre><![CDATA[<?xml version="1.0" encoding="ISO-8859-1"?>
<part xmlns="artifact:xsd:dpml/lang/dpml-part#1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <info title="Depot Builder">
    <description>
    Ant project builder for Depot.
    </description>
  </info>
  
  <strategy xsi:type="plugin" class="net.dpml.tools.impl.StandardBuilder"/>
  
  <classpath>
    <system>
      <uri>artifact:jar:ant/ant-launcher#1.6.5</uri>
      <uri>artifact:jar:ant/ant#1.6.5</uri>
      <uri>artifact:jar:junit/junit#3.8.1</uri>
      <uri>artifact:jar:ant/ant-junit#1.6.5</uri>
      <uri>artifact:jar:ant/ant-xslp#1.6.5</uri>
      <uri>artifact:jar:ant/ant-trax#1.6.5</uri>
    </system>
    <private>
      <uri>artifact:jar:dpml/transit/dpml-transit-main#SNAPSHOT</uri>
      <uri>artifact:jar:dpml/transit/dpml-transit-tools#SNAPSHOT</uri>
      <uri>artifact:jar:dpml/depot/dpml-library#SNAPSHOT</uri>
      <uri>artifact:jar:dpml/depot/dpml-tools-builder#SNAPSHOT</uri>
    </private>
  </classpath>
  
</part>]]></pre>

      </subsection>

    </section>

  </body>

</document>

