<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="metro"
    xmlns="artifact:xsd:dpml/lang/dpml-module#1.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:part="artifact:xsd:dpml/lang/dpml-part#1.0">

  <project name="dpml-state-api" basedir="state/api">
    <types>
      <type id="jar"/>
    </types>
  </project>
   
  <project name="dpml-state-impl" basedir="state/impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-job-api" basedir="job/api">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-job-impl" basedir="job/impl">
    <properties>
      <property name="project.test.fork" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/metro/dpml-job-api"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-metro-component" basedir="component">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api" tag="public"/>
      <include ref="dpml/metro/dpml-job-api" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main" tag="private"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
  
  <project name="dpml-metro-model" basedir="model">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api"/>
      <include key="dpml-metro-component"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
      <include key="dpml-state-impl"/>
    </dependencies>
  </project>
   
  <project name="dpml-metro-runtime" basedir="runtime">
    <types>
      <type id="jar"/>
      <part:plugin alias="true" class="net.dpml.metro.runtime.CompositionController">
        <part:param class="net.dpml.component.InitialContext"/>
      </part:plugin>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api" tag="public"/>
      <include ref="dpml/metro/dpml-metro-component" tag="protected"/>
      <include ref="dpml/metro/dpml-metro-model" tag="protected"/>
      <include ref="dpml/metro/dpml-job-impl"/>
      <include ref="dpml/metro/dpml-state-impl"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-metro-tools" basedir="tools">
    <types>
      <type id="jar"/>
      <part:resource alias="true" urn="dpml:metro"
        path="net/dpml/metro/tools/antlib.xml"/>
    </types>
    <dependencies>
      <include ref="dpml/depot/dpml-tools-builder"/>
      <include ref="dpml/transit/dpml-transit-tools"/>
      <include ref="dpml/metro/dpml-metro-runtime"/>
    </dependencies>
  </project>

  <project name="dpml-metro-test" basedir="test">
    <properties>
      <property name="project.test.fork" value="true"/>
      <property name="project.javadoc.exclude" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api"/>
      <include ref="dpml/metro/dpml-metro-model"/>
    </dependencies>
    <dependencies scope="test">
      <include key="dpml-metro-tools"/>
    </dependencies>
  </project>
  
</module>
