<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="metro">

  <types>
    <type id="module" alias="true"/>
  </types>

  <project name="dpml-state-api" basedir="state/api">
    <types>
      <type id="jar"/>
    </types>
  </project>
   
  <project name="dpml-state-impl" basedir="state/impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api" tag="public"/>
      <include ref="dpml/util/dpml-configuration-impl"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-part-api" basedir="part/api">
    <types>
      <type id="plugin" alias="true">
        <property name="project.plugin.class" 
          value="net.dpml.metro.part.PartContentHandler"/>
      </type>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main" tag="private"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-part-test" basedir="part/test">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="build">
      <include key="dpml-metro-runtime"/>
    </dependencies>
    <dependencies>
      <include key="dpml-part-api"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-metro-model" basedir="model">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-state-api"/>
      <include ref="dpml/util/dpml-parameters-api"/>
      <include ref="dpml/util/dpml-configuration-api"/>
      <include key="dpml-part-api"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
      <include key="dpml-state-impl"/>
      <include ref="dpml/util/dpml-parameters-impl"/>
      <include ref="dpml/util/dpml-configuration-impl"/>
    </dependencies>
  </project>
   
  <project name="dpml-metro-runtime" basedir="runtime">
    <types>
      <type id="jar"/>
      <type id="plugin">
        <property name="project.plugin.class" 
           value="net.dpml.metro.runtime.CompositionController"/>
      </type>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api" tag="public"/>
      <include ref="dpml/util/dpml-activity-api" tag="public"/>
      <include ref="dpml/util/dpml-parameters-impl"/>
      <include ref="dpml/util/dpml-configuration-impl"/>
      <include key="dpml-state-impl"/>
      <include key="dpml-part-api" tag="protected"/>
      <include key="dpml-metro-model" tag="protected"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-metro-tools" basedir="tools">
    <types>
      <type id="jar"/>
      <type id="plugin" alias="true">
        <property name="project.plugin.resource" 
          value="net/dpml/metro/tools/antlib.xml"/>
        <property name="project.plugin.urn" 
          value="dpml:metro"/>
      </type>
    </types>
    <dependencies>
      <include ref="dpml/depot/dpml-tools-builder"/>
      <include ref="dpml/transit/dpml-transit-tools"/>
      <include key="dpml-metro-runtime"/>
      <include urn="artifact:jar:xstream/xstream#1.1"/>
    </dependencies>
  </project>

  <project name="dpml-metro-test" basedir="test">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-logging-api"/>
      <include ref="dpml/util/dpml-configuration-api"/>
      <include ref="dpml/util/dpml-parameters-api"/>
    </dependencies>
    <dependencies scope="test">
      <include key="dpml-metro-tools"/>
    </dependencies>
  </project>
   
   <project name="dpml-metro-exec" basedir="exec">
    <types>
      <type id="jar"/>
      <type id="plugin">
        <property name="project.plugin.class" 
           value="net.dpml.metro.exec.ApplicationHandler"/>
      </type>
    </types>
    <dependencies scope="build">
      <include ref="dpml/metro/dpml-metro-runtime"/>
    </dependencies>
    <dependencies>
      <include ref="dpml/util/dpml-util-cli"/>
      <include ref="dpml/util/dpml-configuration-api"/>
      <include ref="dpml/util/dpml-configuration-impl"/>
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="dpml/metro/dpml-part-api"/>
      <include ref="dpml/metro/dpml-station-api"/>
      <include ref="dpml/metro/dpml-metro-model"/>
    </dependencies>
  </project>

  <project name="dpml-station-api" basedir="station/api">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="dpml/metro/dpml-part-api"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="junit/junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-station-server" basedir="station/server">
    <types>
      <type id="jar"/>
      <type id="plugin">
        <property name="project.plugin.class" 
           value="net.dpml.station.server.StationServerPlugin"/>
      </type>
    </types>
    <dependencies>
      <include ref="dpml/metro/dpml-part-api" tag="public"/>
      <include key="dpml-station-api" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main" tag="public"/>
      <include ref="dpml/util/dpml-util-cli"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="junit/junit"/>
    </dependencies>
  </project>

  <project name="dpml-station-console" basedir="station/console">
    <types>
      <type id="jar"/>
      <type id="plugin" alias="true">
        <property name="project.plugin.class" 
           value="net.dpml.station.console.StationPlugin"/>
      </type>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-util-cli"/>
      <include key="dpml-station-api" tag="public"/>
      <include key="dpml-station-server"/>
    </dependencies>
  </project>
   
</module>
