#
# Copy this file to user.properties
# The user.properties file will be read in as part of the setup.xml build porocess
# and is typically used to declare proxy settings (examples shown inline).
#
#
#
#dpml.proxy.host=myproxy.company.com
#dpml.proxy.port=8080
#dpml.proxy.user=myusername
#dpml.proxy.password=mypassword
#
