<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="http" basedir="."
    xmlns="artifact:xsd:dpml/lang/dpml-module#1.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:metro="artifact:xsd:dpml/lang/dpml-component#1.0"
  >

  <properties>
    <property name="project.xsd.builder.artifact:xsd:dpml/lang/dpml-component#1.0"
      value="link:part:dpml/metro/dpml-metro-builder"/>
  </properties>

  <project name="dpml-http-impl" basedir="impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="runtime">
      <include ref="dpml/metro/dpml-metro-model"/>
      <include ref="dpml/util/dpml-logging-api"/>
      <include ref="dpml/util/dpml-configuration-api"/>
      <include urn="artifact:jar:org/mortbay/servlet-api-2.5#20060213" tag="PUBLIC"/>
      <include urn="artifact:jar:tomcat/jasper-runtime#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler-jdt#5.5.12"/>
      <include urn="artifact:jar:org/mortbay/jetty#20060213"/>
      <include urn="artifact:jar:org/slf4j/jcl104-over-slf4j#1.0-rc5"/>
      <include urn="artifact:jar:org/slf4j/slf4j-jdk14#1.0-rc5"/>
      <include urn="artifact:jar:commons-el/commons-el#1.0"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
  </project>

  <project name="dpml-http-app" basedir="war">
    <types>
      <type id="jar"/>
      <type id="war" alias="true"/>
    </types>
    <dependencies>
      <include urn="artifact:jar:org/mortbay/servlet-api-2.5#20060213" tag="PUBLIC"/>
    </dependencies>
  </project>

  <project name="dpml-http-server" basedir="server">
    <types>
      <component xmlns="artifact:xsd:dpml/lang/dpml-component#1.0" class="net.dpml.http.Server" lifestyle="singleton">
        <parts>
          <!-- 
          Add a select channel connector to 8080.
          -->
          <component key="plain" class="net.dpml.http.SelectChannelConnector">
            <context>
              <entry key="port" value="8080"/>
              <entry key="maxIdleTime" value="50000"/>
              <entry key="acceptors" value="10"/>
            </context>
          </component>
          <!--
          Add a SSL connector to 8443.
          -->
          <component key="ssl" class="net.dpml.http.SslSocketConnector">
            <context>
              <entry key="port" value="8443"/>
              <entry key="maxIdleTime" value="30000"/>
              <entry key="keystore" value="local:keystore:dpml/planet/http/jetty"/>
              <entry key="password" value="OBF:1vny1zlo1x8e1vnw1vn61x8g1zlu1vn4"/>
              <entry key="keyPassword" value="OBF:1u2u1wml1z7s1z7a1wnl1u2g"/>
            </context>
          </component>
          <!--
          Add a user realm.
          -->
          <component key="realm" class="net.dpml.http.HashUserRealm">
            <context>
              <entry key="name" value="Test Realm"/>
              <entry key="URI" value="local:properties:dpml/planet/http/realm"/>
            </context>
          </component>
          <!--
          Add a web application.
          -->
          <component key="webapp" class="net.dpml.http.WebAppContextHandler">
            <context>
              <entry key="contextPath" value="/"/>
              <entry key="war" value="link:war:dpml/planet/http/dpml-http-app"/>
            </context>
          </component>
          <!--
          Creation of a HTTP server configured to present static content in 
          the ${dpml.share}/docs directory.
          -->
          <component key="context" class="net.dpml.http.ResourceContextHandler">
            <context>
              <entry key="resourceBase" value="${dpml.share}/docs"/>
              <entry key="contextPath" value="/docs"/>
            </context>
          </component>
          <!--
          Add an experimental servlet context.
          (Need to add context cloassloader configuration but this requires 
          per-component threads - currently limited to classes declared within
          the part classloader).
          -->
          <component key="servlets" class="net.dpml.http.ServletContextHandler">
            <context>
              <entry key="resourceBase" value="${dpml.data}"/>
              <entry key="contextPath" value="/data"/>
              <entry key="servletHolders">
                <param class="net.dpml.http.ServletHolder">
                  <param value="data"/>
                  <param value="org.mortbay.jetty.servlet.DefaultServlet"/>
                </param>
              </entry>
              <entry key="servletEntries">
                <param class="net.dpml.http.ServletEntry">
                  <param value="data"/>
                  <param value="/"/>
                </param>
              </entry>
            </context>
          </component>
        </parts>
      </component>
      <!--
      -->
      <!--
      <part alias="true" id="part">
        <metro:component class="net.dpml.http.Server" lifestyle="singleton">
        </metro:component>
      </part>
      -->
      <type id="part" alias="true"/>
    </types>
    <dependencies scope="build">
      <include key="dpml-http-app"/>
    </dependencies>
    <dependencies scope="runtime">
      <include urn="artifact:jar:org/mortbay/servlet-api-2.5#20060213" tag="PUBLIC"/>
      <include key="dpml-http-impl"/>
    </dependencies>
  </project>

  <project name="dpml-http-test" basedir="test">
    <properties>
      <property name="project.test.fork" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="build">
      <include key="dpml-http-server"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="dpml/metro/dpml-metro-model"/>
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

</module>
