<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="http" basedir="." xmlns="artifact:xsd:dpml/lang/dpml-module#1.0">

  <properties>
    <property name="project.xsd.builder.artifact:xsd:dpml/lang/dpml-component#1.0"
      value="link:part:dpml/metro/dpml-metro-builder"/>
  </properties>

  <project name="dpml-http-impl" basedir="impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="runtime">
      <include ref="dpml/metro/dpml-metro-model"/>
      <include ref="dpml/util/dpml-logging-api"/>
      <include ref="dpml/util/dpml-configuration-api"/>
      <include urn="artifact:jar:org/mortbay/servlet-api-2.5#20060213" tag="PUBLIC"/>
      <include urn="artifact:jar:tomcat/jasper-runtime#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler#5.5.12"/>
      <include urn="artifact:jar:tomcat/jasper-compiler-jdt#5.5.12"/>
      <include urn="artifact:jar:org/mortbay/jetty#20060213"/>
      <include urn="artifact:jar:org/slf4j/jcl104-over-slf4j#1.0-rc5"/>
      <include urn="artifact:jar:org/slf4j/slf4j-jdk14#1.0-rc5"/>
      <include urn="artifact:jar:commons-el/commons-el#1.0"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
  </project>

  <project name="dpml-http-app" basedir="war">
    <types>
      <type id="jar"/>
      <type id="war" alias="true"/>
    </types>
    <dependencies>
      <include urn="artifact:jar:org/mortbay/servlet-api-2.5#20060213" tag="PUBLIC"/>
    </dependencies>
  </project>

  <import file="server/project.xml"/>

  <project name="dpml-http-test" basedir="test">
    <properties>
      <property name="project.test.fork" value="true"/>
      <property name="project.javadoc.exclude" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="build">
      <include key="dpml-http-server"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="dpml/metro/dpml-metro-model"/>
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

</module>
