<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="lang" xmlns="link:xsd:dpml/lang/dpml-module#1.0">
   
  <resource name="dpml-module">
    <types>
      <type id="xsd"/>
    </types>
  </resource>

  <resource name="dpml-part">
    <types>
      <type id="xsd" version="1.0"/>
    </types>
    <dependencies>
      <build>
        <include key="dpml-module"/>
      </build>
    </dependencies>
  </resource>

  <resource name="dpml-state">
    <types>
      <type id="xsd" version="1.0"/>
    </types>
  </resource>
   
  <resource name="dpml-component">
    <types>
      <type id="xsd" version="1.0"/>
    </types>
    <dependencies>
      <build>
        <include key="dpml-part"/>
      </build>
    </dependencies>
  </resource>

  <resource name="dpml-type">
    <types>
      <type id="xsd" version="1.0"/>
    </types>
    <dependencies>
      <build>
        <include key="dpml-state"/>
        <include key="dpml-component"/>
      </build>
    </dependencies>
  </resource>

</module>
