<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="lang" xmlns="dpml:library">
   
  <properties>
    <property name="project.javac.lint" value="unchecked"/>
  </properties>

  <project file="part/project.xml"/>
  <!--<project file="library/project.xml"/>-->
  <project file="sample/project.xml"/>

</module>
