<?xml version="1.0" encoding="UTF-8"?>

<document>

  <properties>
    <author email="mcconnell@dpml.net">Stephen McConnell</author>
    <title>DPML Station Startup Command</title>
  </properties> 

  <body>

    <section name="Startup Command">

      <subsection name="Description">

        <p>
        Initiates the startup of the station as a foreground process (suitable for 
        debuging and other development related processes).  The station will register 
        itself with an RMI registry .  An application plan is retrieved and loaded. 
        Application entries declared withing the plan are used to construct runtime 
        application instances.
        </p>

      </subsection>

      <subsection name="Commandline">

<pre>$ station server [-port &lt;port&gt;] [&lt;uri&gt;]</pre>

      </subsection>

      <subsection name="Options">

        <table>
          <tr><td width="100">-port</td><td>Optional override of the default RMI registry port (1099).</td></tr>
        </table>

      </subsection>

      <subsection name="Arguments">

        <table>
          <tr><td width="100">&lt;uri&gt;</td><td>Overide the default plan uri.</td></tr>
        </table>

      </subsection>

      <subsection name="Example">

<pre>$ station server</pre>

<source>[5096 ] [INFO   ] (depot.station): Station started on port: 1099</source>

      </subsection>

    </section>

  </body>

</document>

