<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="station"
    xmlns="artifact:xsd:dpml/lang/dpml-module#1.0" 
    xmlns:part="artifact:xsd:dpml/lang/dpml-part#1.0">

  <project name="dpml-station-api" basedir="api">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="dpml/metro/dpml-metro-component"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="junit/junit"/>
    </dependencies>
  </project>

  <project name="dpml-station-exec" basedir="exec">
    <types>
      <type id="jar"/>
      <part:plugin class="net.dpml.station.exec.ApplicationHandler" alias="true"/>
    </types>
    <dependencies scope="build">
      <include ref="dpml/metro/dpml-metro-runtime"/>
    </dependencies>
    <dependencies>
      <include ref="dpml/util/dpml-configuration-api" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main" tag="public"/>
      <include ref="dpml/metro/dpml-metro-component" tag="public"/>
      <include ref="dpml/metro/dpml-metro-model" tag="public"/>
      <include ref="dpml/station/dpml-station-api" tag="public"/>
      <include ref="dpml/util/dpml-logging-api" tag="public"/>
      <include ref="dpml/util/dpml-configuration-impl"/>
      <include ref="dpml/util/dpml-util-cli"/>
    </dependencies>
  </project>

  <project name="dpml-station-builder" basedir="builder">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-station-api" tag="public"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="junit/junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-station-server" basedir="server">
    <properties>
      <property name="project.test.fork" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
      <part:plugin class="net.dpml.station.server.StationServerPlugin" alias="true"/>
    </types>
    <dependencies>
      <include ref="dpml/depot/dpml-depot-console" tag="public"/>
      <include ref="dpml/metro/dpml-metro-component" tag="public"/>
      <include ref="dpml/transit/dpml-transit-main" tag="public"/>
      <include ref="dpml/station/dpml-station-api" tag="public"/>
      <include ref="dpml/station/dpml-station-builder" tag="protected"/>
      <include ref="dpml/util/dpml-util-cli"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-station-console" basedir="console">
    <types>
      <type id="jar"/>
      <part:plugin alias="true" class="net.dpml.station.console.StationPlugin"/>
    </types>
    <dependencies>
      <include ref="dpml/util/dpml-util-cli"/>
      <include ref="dpml/station/dpml-station-api" tag="public"/>
      <include ref="dpml/station/dpml-station-server"/>
    </dependencies>
  </project>
   
</module>
