<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="http">

  <types>
    <type id="module" alias="true"/>
  </types>

  <project name="dpml-http-api" basedir="api">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include urn="artifact:jar:jetty/org.mortbay.jetty#5.1.1"/>
    </dependencies>
  </project>

  <project name="dpml-http-spi" basedir="spi">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-http-api"/>
    </dependencies>
  </project>

  <project name="dpml-http-util" basedir="util">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-http-api"/>
    </dependencies>
  </project>

  <project name="dpml-http-impl" basedir="impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-http-api" tag="public"/>
      <include urn="artifact:jar:servletapi/servletapi#2.3" tag="public"/>
      <include key="dpml-http-spi" tag="protected"/>
      <include ref="dpml/util/dpml-activity-api" tag="protected"/>
      <include ref="dpml/util/dpml-logging-api" tag="protected"/>
      <include ref="dpml/util/dpml-configuration-api" tag="protected"/>
      <include ref="dpml/util/dpml-parameters-api" tag="protected"/>
      <include urn="artifact:jar:jetty/org.mortbay.jetty#5.1.1"/>
      <include urn="artifact:jar:jetty/org.mortbay.jaas#5.1.1"/>
      <include urn="artifact:jar:tomcat/jsp-api#5.0.18"/>
      <include urn="artifact:jar:tomcat/jasper-compiler#5.0.25"/>
      <include urn="artifact:jar:tomcat/jasper-runtime#5.0.25"/>
      <include urn="artifact:jar:commons-logging/commons-logging#1.0.4"/>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
  </project>

  <project name="dpml-http-demo" basedir="demo">
    <types>
      <type id="jar"/>
      <type id="part" alias="true"/>
    </types>
    <dependencies>
      <include urn="artifact:jar:servletapi/servletapi#2.3" tag="public"/>
      <include key="dpml-http-impl"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="dpml/metro/dpml-component-control"/>
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

</module>
