<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="util">

  <types>
    <type id="module" alias="true"/>
  </types>

  <dependencies scope="build">
    <include key="transit"/>
  </dependencies>

  <project name="dpml-util-i18n" basedir="i18n">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-util-cli" basedir="cli">
    <types>
      <type id="jar"/>
    </types>
    <properties>
      <property name="project.test.fork" value="true"/>
      <property name="project.test.halt-on-error" value="true"/>
      <property name="project.test.halt-on-failure" value="true"/>
    </properties>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
</module>
