<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module PUBLIC "-//DPML//DTD Library 1.0//EN" "http://www.dpml.net/dtds/library_1_0.dtd" >

<module name="util" basedir=".">

  <dependencies scope="build">
    <include key="transit"/>
  </dependencies>

  <project name="dpml-util-i18n" basedir="i18n">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-util-cli" basedir="cli">
    <properties>
      <property name="project.test.fork" value="true"/>
    </properties>
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="dpml-activity-api" basedir="activity">
    <types>
      <type id="jar"/>
    </types>
  </project>
  
  <project name="dpml-logging-api" basedir="logging">
    <types>
      <type id="jar"/>
    </types>
  </project>
   
  <project name="dpml-configuration-api" basedir="configuration/api">
    <types>
      <type id="jar"/>
    </types>
  </project>
   
  <project name="dpml-configuration-impl" basedir="configuration/impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-configuration-api"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
  <project name="dpml-parameters-api" basedir="parameters/api">
    <types>
      <type id="jar"/>
    </types>
  </project>
   
  <project name="dpml-parameters-impl" basedir="parameters/impl">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include key="dpml-parameters-api"/>
      <include key="dpml-configuration-api" tag="private"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>
   
</module>
