<?xml version="1.0"?>
<part xmlns="link:xsd:dpml/transit/dpml-transit-part"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:transit="link:xsd:dpml/transit/dpml-transit-main"
   xsi:schemaLocation="link:xsd:dpml/transit/dpml-transit-part part.xsd
                       link:xsd:dpml/transit/dpml-transit-main plugin.xsd
                       link:xsd:dpml/metro/dpml-metro-component component.xsd" >
  
  <info title="Demo Plugin">
    <description>
    Plugin descriptor using XMLSchema.
    </description>
  </info>
  
  <strategy>
    <transit:plugin>
      <transit:properties>
        <transit:property name="project.plugin.class" value="Widget"/>
      </transit:properties>
    </transit:plugin>
  </strategy>
  
  <classpath>
    <public>
      <uri>link:jar:fred/blogs"</uri>
      <uri>link:jar:peter/rabbit"</uri>
    </public>
  </classpath>
  
</part>
