<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="transit"
    xmlns="artifact:xsd:dpml/lang/dpml-module#1.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:part="artifact:xsd:dpml/lang/dpml-part#1.0">
   
  <properties>
    <property name="project.test.fork" value="true"/>
  </properties>

  <project name="dpml-transit-console" basedir="console">
    <types>
      <type id="jar"/>
      <type xsi:type="part:plugin" 
        class="net.dpml.transit.console.TransitConsoleHandler" alias="true"/>
    </types>
    <dependencies>
      <runtime>
        <include ref="dpml/transit/dpml-transit-main"/>
        <include ref="dpml/util/dpml-util-cli"/>
      </runtime>
      <test>
        <include ref="ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <resource name="dpml-transit-main" basedir="core">
    <types>
      <type id="jar"/>
    </types>
  </resource>
   
  <resource name="dpml-transit-tools" basedir="tools">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <runtime>
        <include key="dpml-transit-main"/>
        <include ref="ant/ant"/>
      </runtime>
    </dependencies>
  </resource>

</module>
