<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module PUBLIC "-//DPML//DTD Library 1.0//EN" "http://www.dpml.net/dtds/library_1_0.dtd" >

<module name="transit">
   
  <properties>
    <property name="project.test.fork" value="true"/>
  </properties>
  
  <types>
    <type id="module" alias="true"/>
  </types>
   
  <project name="dpml-transit-console" basedir="console">
    <types>
      <type id="jar"/>
      <type id="plugin">
        <property name="project.plugin.class" 
           value="net.dpml.transit.console.TransitConsoleHandler"/>
      </type>
    </types>
    <dependencies>
      <include ref="dpml/transit/dpml-transit-main"/>
      <include ref="dpml/util/dpml-util-cli"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <resource name="dpml-transit-main" basedir="core">
    <types>
      <type id="jar"/>
    </types>
  </resource>
   
  <resource name="dpml-transit-tools" basedir="tools">
    <types>
      <type id="jar"/>
    </types>
    <dependencies scope="RUNTIME">
      <include key="dpml-transit-main"/>
      <include ref="ant/ant"/>
    </dependencies>
  </resource>

</module>
