<?xml version="1.0" encoding="ISO-8859-1"?>
<module xmlns="dpml:library" name="tutorials">

  <dependencies>
    <build>
      <include ref="dpml"/>
    </build>
  </dependencies>

  <module name="tooling" basedir="tooling">
    <dependencies>
      <build>
        <include ref="dpml"/>
      </build>
    </dependencies>
  </module>
    
  <module name="components" basedir="components">
  
    <properties>
      <property name="java.util.logging.config.class" value="dpml"/>
    </properties>

    <dependencies>
      <build>
        <include key="tooling"/>
      </build>
    </dependencies>
    
    <!-- a minimal component -->
  
    <project name="acme-demo-hello" basedir="hello">
      <types>
        <type id="jar"/>
        <type id="part" source="target/component.xml"/>
      </types>
      <dependencies>
        <test>
          <include ref="org/apache/ant/ant-junit"/>
          <include ref="dpml/metro/dpml-metro-part"/>
        </test>
      </dependencies>
    </project>

    <!-- adding context inner interface -->
  
    <project name="acme-demo-context" basedir="context">
      <types>
        <type id="jar"/>
        <type id="part" source="target/component.xml"/>
      </types>
      <dependencies>
        <build>
          <include key="acme-demo-hello"/>
        </build>
        <test>
          <include ref="org/apache/ant/ant-junit"/>
          <include ref="dpml/metro/dpml-metro-part"/>
        </test>
      </dependencies>
    </project>
  
  <!-- demonstrating context primitives, arrays, and constructed values -->
  
  <project name="acme-demo-examples" basedir="examples">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-demo-context"/>
      </build>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
          <include ref="dpml/metro/dpml-metro-part"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-parts-demo" basedir="parts">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-demo-examples"/>
      </build>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
          <include ref="dpml/metro/dpml-metro-part"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-lookup-demo" basedir="lookup">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-parts-demo"/>
      </build>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
        <include ref="dpml/metro/dpml-metro-part"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-lifestyle-demo" basedir="lifestyle">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-lookup-demo"/>
      </build>
      <runtime>
        <include ref="dpml/metro/dpml-metro-part"/>
      </runtime>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-transient-demo" basedir="transient">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-lifestyle-demo"/>
      </build>
      <runtime>
        <include ref="dpml/metro/dpml-metro-part"/>
      </runtime>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>
  
  <project name="acme-thread-demo" basedir="thread">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-transient-demo"/>
      </build>
      <runtime>
        <include ref="dpml/metro/dpml-metro-part"/>
      </runtime>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-singleton-demo" basedir="singleton">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-thread-demo"/>
      </build>
      <runtime>
        <include ref="dpml/metro/dpml-metro-part"/>
      </runtime>
      <test>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>
  
  <project name="acme-state-demo" basedir="state">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-singleton-demo"/>
      </build>
      <test>
        <include ref="dpml/metro/dpml-metro-part"/>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>
  
  <project name="acme-logging-demo" basedir="logging">
    <types>
      <type id="jar"/>
      <type id="part" source="target/component.xml"/>
    </types>
    <dependencies>
      <build>
        <include key="acme-state-demo"/>
      </build>
      <runtime>
        <include uri="artifact:jar:dpml/util/dpml-logging-api#1.0.0"/>
      </runtime>
      <test>
        <include ref="dpml/metro/dpml-metro-part"/>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <project file="profile/project.xml"/>

  </module>
    
</module>